* {
  box-sizing: border-box;
}
a {
  cursor: pointer;
}
body {
  color: white;
  background-color: #222;
}
img {
  max-width: 100%;
}
main {
  padding: 10px;
  max-width: 960px;
  margin: 0 auto;
}
header {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 50px;
  align-items: center;
}
