.login {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100vh;
}

.login input[type="text"],
.login input[type="password"] {
  width: 300px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login button {
  width: 320px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login button:hover {
  background-color: #0056b3;
}

.login input[type="text"]:focus,
.login input[type="password"]:focus {
  border-color: #007bff;
}

.login button:focus {
  outline: none;
  box-shadow: 0 0 5px #007bff;
}

.login .error-message {
  color: red;
  font-size: 0.9rem;
  margin-top: 5px;
}

/* Animation Styles */

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.login {
  animation: slideInFromLeft 0.5s ease;
}
